<h1>Bienvenue sur la page d'accueil</h1>

<% if user_signed_in? %>
  <p>Bonjour, <%= current_user.email %>!</p>
  <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %>
<% else %>
  <%= link_to "Se connecter", new_user_session_path %>
  <%= link_to "S'inscrire", new_user_registration_path %>
<% end %>
